{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} {{ user.firstname }} {{ user.lastname }}{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="student">
                <p><b>#{{ user.id }}</b></p>
                <b>
                    <p class="name">{{ user.firstname }} {{ user.lastname }}</p>
                </b>
                <!-- <p>{{ user.age }}</p> -->
                <p>{{ user.email }}</p>
                <p>Joined: {{ user.created_at }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ user.bio }}</p>
                </div>
            </div>
    </div>
{% endblock %}